# Compilação
target/
*.class

# Maven
.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# Cache local do Maven
.m2/

# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/
.factorypath

# NetBeans
nbproject/
nbbuild/
dist/

# Sistema Operacional
.DS_Store
Thumbs.db

# Logs
*.log
# Env
.env
